.grenze-gotisch-font {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

body {
    background-image: url('imag2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}